<div class="ui large top fixed hidden menu">
    <div class="ui container">
      <a class="active item" href="{% url 'dashboard' %}">Dashboard</a>
      <a class="item">Class</a>
      <a class="item">Message</a>
      <a class="item">Teacher</a>
      <div class="right menu">
        <div class="item">
          <a class="ui button">Qilin Kindergarten</a>
        </div>
       
      </div>
    </div>
  </div>
  
  <!-- Sidebar Menu -->
  <div class="ui vertical inverted sidebar menu">
    <a class="active item" href="{% url 'dashboard' %}">Dashboard</a>
    <a class="item">Class</a>
    <a class="item">Message</a>
    <a class="item">Teacher</a>
  
  </div>
  
  
  <!-- Page Contents -->
  <div class="pusher">
    <div class="ui inverted vertical masthead center aligned segment">
  
      <div class="ui container">
        <div class="ui large secondary inverted pointing menu">
          <a class="toc item">
            <i class="sidebar icon"></i>
          </a>
          <a class="active item" href="{% url 'dashboard' %}">Dashboard</a>
          <a class="item">Teacher</a>
          <a class="item">Class</a>
          <a class="item">Message</a>
          <div class="right item">
            <a class="ui inverted button">Qilin Kindergarten</a>
           
          </div>
        </div>
      </div>
  
      
  
    </div>
  
   
  
  
  
  
  
  
   
  </div>